fieldset{
    border: 3px solid crimson;
    margin-bottom: 25px;
    border-radius: 15px;
    padding-left: 40px;
}
legend{
    background-color: aquamarine;
    padding: 5px;
    border-radius: 5px;
}